html
  head
    title="Upload product"
  body
    div(class='container', style='padding: 2rem') 
      div(class='row')
        div(class='col-sm-12')
          div(style='display:flex; align-items: center; justify-content:space-between;')
            h1=Products
            input(class="btn btn-primary", type="button", onclick="location.href='/'", value="Upload a product")
          div(class="mt-5", style="display: flex; justify-content: space-between; flex-wrap: wrap;")
            each el in products
              div(style='padding: 1rem')
                div(class='card', style='width: 15rem')
                  img(src=el.thumbnail, class='card-img-top', alt=el.thumbnail)
                  div(class='card-body')
                    h5(class='card-title')=el.title
                    p(class='card-text')=el.price